.card {
    overflow: hidden;
}

.card .card-image img {
    width: 100%; /* Make sure the image fills the container */
    height: 320px;
}

.card .card-image .card-title {
    font-weight: 700;
}

.text-container {
    height: 50px;
}