{% extends "base.html" %}
{% block content %}
    <div class="col ml-2">
        <div class="container-fluid .flex-wrap">
            <div class="row m-4">
                <div class="col text-center">
                    <h3>Add Review</h3>
                </div>
            </div>
            <div class="row mb-4">
                    <div class="col">
                        <div class="container container-brown rounded p-2 text-center">
                            <div class="row mt-4">
                                <div class="col text-bez">
                                    <h3>~ {{ movie.title }} ~</h3>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col">
                                    <form method="POST" action="{{ url_for('add_review', imdbID=movie.imdbID) }}">
                                        <div class="form-group">
                                            <label for="add_review">Write your review here</label>
                                            <textarea class="form-control container-brown" id="add_review" name="add_review"
                                                minlength="25" maxlength="500" rows="3" placeholder="Write your review here"
                                                pattern="^(?!.* {2,})(?!.*[.,?!]{2})[\w.,?!':\s]{25,500}$"
                                                required></textarea>
                                        </div>
                                        <div class="text-center">
                                            <a class="btn btn-large btn-dark-brown" href="{{ url_for('movie', imdbID=movie.imdbID) }}">Cancel</a>  
                                            <button type="submit" class="btn btn-large btn-brown">Add review</a> 
                                        </div>
                                    </form>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}