{% extends "base.html" %}
{% block content %}
    <div class="col ml-2">
        <div class="container-fluid .flex-wrap footer-margin">
            <div class="row m-4">
                <div class="col text-center">
                    <h3>Edit Review</h3>
                </div>
            </div>
            <div class="row mb-4">
                    <div class="col">
                        <div class="container container-brown rounded p-2 text-center">
                            <div class="row mt-4">
                                <div class="col text-bez">
                                    <h3>~ {{ movie.title }} ~</h3>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col">
                                    <form method="POST" action="{{ url_for('edit_review', review_id=review_to_edit._id, imdbID=movie.imdbID) }}">
                                        <div class="form-group">
                                            <label for="edit_review">Edit your review here</label>
                                            <textarea class="form-control container-brown" id="edit_review" name="edit_review"
                                                minlength="40" maxlength="1000" rows="3" 
                                                pattern="^(?!.* {2,})(?!.*[.,?!]{2})[\w.,?!':\s]{25,500}$"
                                                required>{{ review_to_edit.review }}</textarea>
                                        </div>
                                        <div class="text-center">
                                            <a class="btn btn-large btn-dark-brown" href="{{ url_for('movie', imdbID=movie.imdbID) }}">Cancel</a>  
                                            <button type="submit" class="btn btn-large btn-brown">Edit review</button> 
                                        </div>
                                    </form>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}