{% extends "base.html" %}
{% block content %}
        <div class="container">
            <div class="row">
                {% for item in movies_sorted %}
                    <div class="card col-4" style="width: 18rem;">
                        <img src="{{ item.Poster }}" class="card-img-top" alt="Poster of {{ item.Title }}">
                        <div class="card-body">
                        <h5 class="card-title">{{ item.Title }}</h5>
                        <p class="card-text"><p>{{ item.Year }}</p></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% for movie in movies %}

    <p>{{ movie.title }}</p>
    <p>{{ movie.year }}</p>

    {% endfor %}

{% endblock %}